<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body class="{{ .Site.Params.bodyClass }}">
    {{ partial "site-alert.html" . }}
    {{ partial "header.html" . }}
    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ if .Site.Params.auth }}
      {{ partial "user-auth.html" . }}
      <script type="module" src="/js/firebase-config.js"></script>
      <script type="module" src="/js/auth.js"></script>
    {{ end }}
    <script src="/js/theme-persist.js"></script>
  </body>
</html>